﻿@using Microsoft.AspNetCore.Identity
@model System.Security.Claims.ClaimsPrincipal
@{
    var firstNameClaim = Model?.Claims.FirstOrDefault(c => c.Type == "FirstName");
    var displayName = firstNameClaim != null ? firstNameClaim.Value : "User";
}

<ul class="navbar-nav">
    @if (Model?.Identity?.IsAuthenticated==true)
    {
        <li class="nav-item"> 
            <a class="nav-link" href="#">Hello @displayName!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>