﻿@using Microsoft.AspNetCore.Identity
@model System.Security.Claims.ClaimsPrincipal
@{
    var firstNameClaim = Model?.Claims.FirstOrDefault(c => c.Type == "FirstName");
    var displayName = firstNameClaim != null ? firstNameClaim.Value : "User";
    var userId = Model?.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value ?? "";
}

@if (Model?.Identity?.IsAuthenticated == true)
{
    <span class="me-3">Hello, @displayName!</span>
    <a class="btn btn-danger" asp-controller="Account" asp-action="Logout">Logout</a>

}
else
{
    <a class="btn btn-success m-1" asp-controller="Account" asp-action="Register">Register</a>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>

}
