@using Microsoft.AspNetCore.Mvc.ModelBinding
@model UpdatePasswordVM;
@{
    Console.WriteLine(Model);
    var isExternalUser = Model.IsExternalUser;
}
@if (isExternalUser)
{
    <p> You are logged in as External user so you are not allowed to change password</p>
}

else
{
    if (!ViewData.ModelState.IsValid)
    {
        foreach (var modelError in ViewData.ModelState[string.Empty]?.Errors ?? Enumerable.Empty<ModelError>())
        {
            <div class="text-danger">@modelError.ErrorMessage</div>
        }
    }
    <form asp-action="UpdatePassword" method="post">

        <input type="hidden" asp-for="UserId" />
        <div class="mb-3">
            <label asp-for="CurrentPassword" class="form-label"></label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
}
